.carDetailBackground {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 90%;
    z-index: 1;
}

.carDetailContainer {
    position: fixed;
    background-color: black;
    width: 40%;
    border-radius: 5px;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: 1;
    box-shadow: 1px 1px 116px 100px rgba(162, 29, 204, 0.05);
    -webkit-box-shadow: 1px 1px 116px 100px rgba(162, 29, 204, 0.05);
    -moz-box-shadow: 1px 1px 116px 100px rgba(162, 29, 204, 0.05);
}

.mainCarDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
    color: white;
}

.carPicture {
    width: 50%;
    margin-right: 20px;
}

.carInfoCard {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow: auto;
    color: white;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 5%, rgba(68, 16, 84, 1) 100%);
}

.carInfo {
    min-width: 20%;
}

.carDetailText {
    color: white;
    display: flex;
    justify-content: center;
    margin: auto;
}

.carDetailFullText {
    margin: auto;
}

#aqui {
    color: yellow;
}